$textColor: #fff;
$secundaryTextColor: #000;

$blue1: #1b6ca7;
$blue2: #442bdb;
$pink: #892238;
$yellow: #9c791d;
$purple: #4f2ac3;
$red: #EA2027;
$gray: #FD7272;
$black: #6D214F;
$orange: #000000;
$gray2: #494949;